th {
  border: 1px solid black;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 47%;
}
.button {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  padding: 10px 19px 10px 19px;
  font-size: 13px;
}
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid red;
  height: 250px;
}
.james,
.paises,
.apps,
.nueva {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 2px solid blue;
  height: 200px;
}
.james-img,
.paises-img,
.apps-img,
.nueva-img {
  text-align: center;
  width: 95%;
  height: 50%;
  color: 2px solid rgb(28, 31, 28);
  background-color: rgb(113, 224, 113);
}
.james-tittle,
.paises-tittle,
.apps-tittle,
.nueva-tittle {
  text-align: center;
  width: 95%;
}
.james-description,
.paises-description,
.apps-description,
.nueva-description {
  width: 95%;
  font-size: 10px;
  text-align: justify;
}
